.App {
  /* text-align: center; */
  min-height: 100vh;
}
.footer  {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 5%;
  /* border: 3px solid black; */
}

body {
  margin: 0;
}



.App-header {
  background-color: #282c34;
  display: flex;
  min-height: 12vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
 .header {
  font-size: calc(10px + 4vmin)
 }

 .queue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }