.StudentsSelectBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.StudentOptionSelected{
    filter: grayscale(1);
}

.StudentOption{
    width: 5vw;
    height: 5vw;
    border: 2px solid black;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5vw;
}

.StudentOptionNotSelected:hover{
    opacity: 0.5;
}