.Queue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Queue {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.QueueControls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-items: center;
}

.AuthButton{
    margin-top: 1%;
}

.ProfilePicture{
    border-radius: 50%;
    width: 5%;
}


